<a href="https://colab.research.google.com/github/nachoacev/practice-data-science/blob/main/IntroSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to SQL

Structured Query Language, or **SQL**, is the programming language used with databases, and it is an important skill for any data scientist. We'll build our SQL skills using **BigQuery**, *a web service that lets you apply SQL to huge datasets*.

We'll learn the basics of accessing and examining BigQuery datasets.

# BigQuery Commands `Client`, `dataset()`, `get_dataset()`

To use BigQuery, we'll import the Python package below

## Install and Authenticate

In [53]:
# Install BigQuery library
#!pip install google-cloud-bigquery

In [77]:
# Authenticate with Google Cloud
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [55]:
from google.cloud import bigquery

## Set up the BigQuery client

The first step in the workflow is to create a `Client` object. As we'll soon see, this `Client` object will play a central role in retrieving information from BigQuery datasets.

In [56]:
# Create a "Client" object
client = bigquery.Client()

We'll work with a dataset of posts on Hacker News, a website focusing on computer science and cybersecurity news.

In BigQuery, each dataset is contained in a corresponding project. In this case, our `hacker_news` dataset is contained in the `bigquery-public-data` project. To access the dataset,

- We begin by constructing a reference to the dataset with the `dataset()` method.
- Next, we use the `get_dataset()` method, along with the reference we just constructed, to fetch the dataset.

In [57]:
# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [58]:
# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Every dataset is just a collection of tables. You can think of a dataset as a spreadsheet file containing multiple tables, all composed of rows and columns.

We use the `list_tables()` method to list the tables in the dataset.

In [59]:
# List all the tables in "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset
for table in tables:
  print(table.table_id)

crime

Similar to how we fetched a dataset, we can fetch a table.

In [60]:
# Construct a reference to the "crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

## Table Squema `SchemaField`, `list_rows()`,

The structure of a table is called its **schema**. We need to understand a table's schema to effectively pull out the data we want.

In this example, we'll investigate the `crime` table that we fetched above.

In [61]:
# Print information on all columns in the "crime" table in the "chicago_crime" dataset
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, None, (), None)]

Each `SchemaField` tells us about a specific column (which we also refer to as a **field**). In order, the information is:

- The **name** of the column
- The **field type** (or datatype) in the column
- The **mode** of the column ('NULLABLE' means that a column allows NULL values, and is the default)
- A **description** of the data in that column

We can use the `list_rows()` method to check just the first five lines of of the full table to make sure this is right. (Sometimes databases have outdated descriptions, so it's good to check.) This returns a BigQuery `RowIterator` object that can quickly be converted to a pandas DataFrame with the `to_dataframe()` method.

In [62]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,4954348,HM567052,2006-08-28 11:05:00+00:00,006XX W RANDOLPH ST,031A,ROBBERY,ARMED: HANDGUN,PARKING LOT/GARAGE(NON.RESID.),False,False,...,42,28,03,1172203.0,1901233.0,2006,2018-02-10 15:50:01+00:00,41.884432,-87.643103,"(41.884432451, -87.643102964)"
1,3255033,HK280478,2004-04-03 16:24:00+00:00,005XX W MADISON ST,031A,ROBBERY,ARMED: HANDGUN,ALLEY,False,False,...,42,28,03,1173039.0,1900311.0,2004,2018-02-28 15:56:25+00:00,41.881884,-87.640060,"(41.881883933, -87.640060441)"
2,12859590,JF435025,2022-10-15 01:04:00+00:00,0000X E WACKER DR,031A,ROBBERY,ARMED - HANDGUN,CONVENIENCE STORE,False,False,...,42,32,03,1176621.0,1902155.0,2022,2023-01-03 15:40:27+00:00,41.886864,-87.626852,"(41.886863814, -87.626851797)"
3,12515419,JE413487,2021-10-18 08:34:00+00:00,0000X E WACKER DR,031A,ROBBERY,ARMED - HANDGUN,CONVENIENCE STORE,False,False,...,42,32,03,1176621.0,1902155.0,2021,2021-10-25 15:42:49+00:00,41.886864,-87.626852,"(41.886863814, -87.626851797)"
4,6757567,HR170212,2009-02-14 12:40:00+00:00,002XX S CANAL ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,2,28,03,1173177.0,1899236.0,2009,2018-02-28 15:56:25+00:00,41.878931,-87.639586,"(41.878931004, -87.639585621)"

The `list_rows()` method will also let us look at just the information in a specific column. If we want to see the first five entries in the `case_number` column, for example, we can do that

In [63]:
# Preview first five entries in the "case_number" column of the table "crime"
client.list_rows(table, selected_fields=table.schema[1:2], max_results=5).to_dataframe()

  case_number
0    HM567052
1    HK280478
2    JF435025
3    JE413487
4    HR170212

# Select, From & Where

We'll begin by using the keywords **SELECT**, **FROM**, and **WHERE** to get data from specific columns based on conditions you specify.

## SELECT ... FROM

The most basic SQL query selects a single column from a single table. To do this,

- specify the column you want after the word **SELECT**, and then
- specify the table after the word **FROM**.

For instance, to select the `Name` column (from the `pets` **table** in the `pet_records` **database** in the `bigquery-public-data` **project**), our query would appear as follows:

In [64]:
# Format:
# query = """
#         SELECT name_column
#         FROM `project_name.dataset_name.table_name`
#         """

query = """
        SELECT Name
        FROM `bigquery-public-data.pet_records.pets`
        """

Note that when writing an SQL query, the argument we pass to **FROM** *is not in single or double quotation marks* (' or "). **It is in backticks** (`).

## WHERE ... (Conditional)

BigQuery datasets are large, so you'll usually want to return only the rows meeting specific conditions. You can do this using the **WHERE** clause.

The query below returns the entries from the Name column that are in rows where the Animal column has the text `'Cat'`.

In [65]:
# Format:
# query = """
#         SELECT name_column_1
#         FROM `project_name.dataset_name.table_name`
#         WHERE name_column_2 = condition
#         """

query = """
        SELECT Name
        FROM `bigquery-public-data.pet_records.pets`
        WHERE Animal = 'Cat'
        """

## Example: What are all the U.S. cities in the OpenAQ dataset?

In [81]:
# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:
    print(table.table_id)

global_air_quality

In [82]:
# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

In [83]:
# Query to select countries with units of "ppm"
first_query = """
              SELECT country
              FROM `bigquery-public-data.openaq.global_air_quality`
              WHERE unit = 'ppm'
              """

## Submitting the query to the dataset `.query()`

We're ready to use this query to get information from the `OpenAQ` dataset. As in the previous tutorial, the first step is to create a `Client` object.

We begin by setting up the query with the `query()` method. We run the method with the default parameters, but this method also allows us to specify more complicated settings that you can read about in the documentation.

In [74]:
query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [88]:
# Set up the query (cancel the query if it would use too much of
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10) #increased maximum bytes to 10GB
first_query_job = client.query(first_query, job_config=safe_config, project='bigquery-public-data') #added the project id here

Forbidden: 403 POST https://bigquery.googleapis.com/bigquery/v2/projects/bigquery-public-data/jobs?prettyPrint=false: Access Denied: Project bigquery-public-data: User does not have bigquery.jobs.create permission in project bigquery-public-data.

Location: None
Job ID: 67ade630-9971-420e-9eb8-9c1186894ef3

In [85]:
# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

NameError: name 'first_query_job' is not defined